:root {
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-- Header Style Section--*/
header {
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #18453b;
}

header h1 {
    padding: 5px 10px;
    font-size: 50px;
    font-family: Rockwell;
    color: #b2beb5;
    border-radius: 10px;
    border: 4px solid #b2beb5;
}

header nav {
    margin: 7px 0;
    display: flex;
    flex-wrap: wrap;

}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    float:right;
    text-decoration: none;
    font-size: 26px;
    font-family: Rockwell;
    color: #b2beb5;
}

header nav ul li a:hover {
    text-decoration: underline;    
}

body {
    background-color: #18453b;
    margin-top: 0px;
}

.section-header{
    text-align: start;
    font-size: 30px;
    color:#b2beb5;
    margin: 20px 0 20px 30px;
    padding-right: 20px;
    border-right: 4px solid #b2beb5;
    font-family: Rockwell;
    display: inline;
}

/* -- Hero Section--*/

.hero {
    background-image: url("../assets/images/Background.jpg");
    background-position: center;
    margin-bottom:0px; 
}

.hero p {
    margin-right:15px;
    margin-bottom:10px;
    text-align: end;
    color:#b2beb5;
    font-family: Rockwell;
    font-size: 20px;
}

/* --About Me Section--*/

.about-me {
    display:flex;
    flex-wrap:wrap;
    text-align: start;
    border-bottom: #043927 double 8px;
    margin-top:0px;
    margin-bottom: 20px;
}

.about-me h1 {
    margin-left: 50px;
}

.about-me p {
    color: #b2beb5;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Rockwell;
}

.about-me img {
    height: 250px;
    width: 200px;
    float:right;
    margin: 20px 40px 20px 0;
    border-radius: 15px;
}

/* -- Work Section --*/

.work {
    display:flex;
    flex-wrap:wrap;
    text-align: start;
    border-bottom: #043927 double 8px;
    margin-top:0px;
    margin-bottom: 20px;
}

.work h1 {
    margin-left: 150px;
}

.box-one img {
    display:flex;
    flex-wrap: wrap;
    margin-left: 300px;
    height: 300px;
    width: 800px;
    border: 4px solid #043927;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    
}

.box-one img:hover {
    opacity: 0.50;
}

.box-two img {
    position: relative;
    margin-top: 40px;
    margin-left: 150px;
    margin-bottom: 25px;
    height:200px;
    width:350px;
    border: 4px solid #043927;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

.box-two img:hover {
    opacity: 0.50;
}


.Applications {
    width:100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
/* -- Contact Me Section -- */

.contact-me {
    display:flex;
    flex-wrap:wrap;
    text-align: start;
    border-bottom: #043927 double 8px;
    margin-top:0px;
    margin-bottom: 20px;
    
}

.contact-me h1 {
    padding-left:5px;
}

.contact-me p {
    text-align: center;
    color:#b2beb5;
    font-weight: bold;
    font-size: 16px;
    font-family: Rockwell;
    margin:10px 0 20px 150px;
}

.contact-me ul {
    margin-left: 50px;
    display: flex;
    list-style: none;
    flex-wrap: none;
    align-items: center;
    justify-content: space-between;
}

.contact-me ul li {
    display: inline;
    margin-top: 20px;
    margin-left: 200px;
    color:#b2beb5;
    font-family: Rockwell;
    font-size: 20px;
    
}
.contact-me ul li a{
    
    color:#b2beb5;
    font-size: 20px;
    margin-top: 50px;
    font-family: Rockwell;
   
}

/* Medi Queries for Tablet Screen Sizes */

@media screen and (max-width:768px) {

    header h1 {
      margin-left: 175px;
    }


    header nav {
      margin-top: 20px;
      justify-content: space-evenly;

    }

    header nav ul {
        width: 100%;
        flex-direction:row ;
        flex-wrap: nowrap;
    }
    header nav ul li a {
        margin-left: 50px; 
        font-size: 20px;
    }

    .section-header {
        text-decoration:underline;
        margin-left:75px;
        border-right: none;
        padding-left: 0;
    }

    .about-me h1 {
        margin-left:200px;
    }

    .about-me p {
        
        text-align: center;
        font-size: 24px;
    }

    .about-me img {
        margin-left:300px;
    }

    .work h1 {
        margin-left: 250px;
        margin-bottom:15px;
    }

    .box-one img {
        height:150px;
        width:500px;
        margin-left: 150px;
    }

    .box-two img {
        height: 150px;
        width: 250px;
        margin-left: 250px;
    }
    
    .Applications {
        justify-content: space-between;
    }

    .contact-me h1 {
        margin-left: 180px;
    }

    .contact-me p {
        margin-left: 35px;
    }

    .contact-me ul li {
        margin-left: 25px;
        margin-bottom: 20px;
    }

}

/* Media queries for Phone Screen Sizes */

@media screen and (max-width: 575px) {

header h1 {
    font-size: 30px;
}

header nav ul li a {
    margin-left: 25px;
    font-size: 20px;
}

.about-me h1{
    font-size: 30px;
    margin-left: 150px;
}

.about-me p {
    font-size: 20px;
    margin-left: 50px;
    margin-top:10px;
}

.about-me img {
    margin-left: 200px;
}

.work h1 {
    font-size: 30px;
    margin-left: 175px;
}

.box-one img {
    height: 100px;
    width: 300px;
}

.box-two img {
    height: 100px;
    width:200px;
    margin-left: 200px;
}

.contact-me h1 {
    font-size: 30px;
    margin-left: 125px;
}

.contact-me p {
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.contact-me ul li, .contact-me ul li a {
    font-size: 15px;
    margin-left: 5px;
    margin-right: 20px;
}
}