* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    font-size: 50px;
}

header nav {
    margin: 7px 0;
    display: flex;
    flex-wrap: wrap;

}

header nav ul {
    display: flex;
    flex-wrap: none;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    float:right;
    text-decoration: none;
    color: black;
    font-size: 26px;
}