:root {
    --primary-colour: #18453b;
    --secondary-colour: #b2beb5;
    --tertiary-colour: #043927;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-- Header Style Section--*/
header {
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--primary-colour);
}

header h1 {
    padding: 5px 10px;
    font-size: 50px;
    font-family: Rockwell;
    color: var(--secondary-colour);
    border-radius: 10px;
    border: 4px solid var(--secondary-colour);
}

header nav {
    margin: 7px 0;
    display: flex;
    flex-wrap: wrap;

}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    float:right;
    text-decoration: none;
    font-size: 26px;
    font-family: Rockwell;
    color: var(--secondary-colour);
}

header nav ul li a:hover {
    text-decoration: underline;    
}

body {
    background-color: var(--primary-colour);
    margin-top: 0px;
}

.section-header{
    text-align: start;
    font-size: 30px;
    color:var(--secondary-colour);
    margin: 20px 0 20px 30px;
    padding-right: 20px;
    border-right: 4px solid var(--secondary-colour);
    font-family: Rockwell;
    display: inline;
}

/* -- Hero Section--*/

.hero {
    background-image: url("../assets/images/Background.jpg");
    background-position: center;
    margin-bottom:0px; 
}

.hero p {
    margin: 0 15px 10px 0; 
    text-align: end;
    color:var(--secondary-colour);
    font-family: Rockwell;
    font-size: 20px;
}

/* --About Me Section--*/

.about-me {
    display:flex;
    flex-wrap:wrap;
    text-align: start;
    border-bottom: var(--tertiary-colour) double 8px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.about-me h1 {
    margin-left: 50px;
}

.about-me p {
    color: var(--secondary-colour);
    font-size: 20px;
    margin-top: 50px;
    margin-left: 50px;
    padding-left: 15px;
    font-family: Rockwell;
}

.about-me img {
    height: 250px;
    width: 200px;
    float:right;
    margin: 15px 0 15px 700px;
    border-radius: 15px;
}

/* -- Work Section --*/

.work {
    display:flex;
    flex-wrap:wrap;
    text-align: start;
    border-bottom: var(--tertiary-colour) double 8px;
    margin-top:0px;
    margin-bottom: 20px;
}

.work h1 {
    margin-left: 150px;
}

.work ul {
    list-style: none;
}

.box-one img {
    display:flex;
    flex-wrap: wrap;
    margin-left: 100px;
    height: 300px;
    width: 800px;
    border: 4px solid var(--tertiary-colour);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;    
}

.box-one img:hover {
    opacity: 0.50;
}

.box-one ul li p {
    margin-left: 104px;
    margin-top: -296px;
    font-size: 25px;
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
    position: absolute;
    z-index: 9999;
    border-top-left-radius: 20px;
    border: 2px solid var(--primary-colour);
}

.box-two img {
    position: relative;
    margin: 40px 0 25px 150px; 
    height:200px;
    width:350px;
    border: 4px solid var(--tertiary-colour);
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

.box-two img:hover {
    opacity: 0.50;
}

.box-two ul li p {
    margin-left: 152px;
    margin-top: -227px;
    font-size: 25px;
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
    position: absolute;
    z-index: 9999;
    border-top-left-radius: 15px;
    border: 2px solid var(--primary-colour);
}


.Applications {
    width:100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
/* -- Contact Me Section -- */

.contact-me {
    display:flex;
    flex-wrap:wrap;
    text-align: start;
    border-bottom: var(--tertiary-colour) double 8px;
    margin-top:0px;
    margin-bottom: 20px;
    
}

.contact-me h1 {
    padding-left:5px;
}

.contact-me p {
    text-align: center;
    color:var(--secondary-colour);
    font-weight: bold;
    font-size: 16px;
    font-family: Rockwell;
    margin:10px 0 20px 150px;
}

.contact-me ul {
    margin-left: 50px;
    display: flex;
    list-style: none;
    flex-wrap: none;
    align-items: center;
    justify-content: space-between;
}

.contact-me ul li {
    display: inline;
    margin-top: 20px;
    margin-left: 200px;
    color:var(--secondary-colour);
    font-family: Rockwell;
    font-size: 20px;
    
}
.contact-me ul li a{
    
    color:var(--secondary-colour);
    font-size: 20px;
    margin-top: 50px;
    font-family: Rockwell;
   
}

/* Medi Queries for Smaller Screen Sizes */

@media screen and (max-width:980px) {

    .section-header {
        border-right: none;
    }

    .about-me h1 {
        text-decoration: underline;
        border: none;
        margin-left:350px;
    }

    .about-me img {
        margin-left: 400px;
    }

    .work h1 {
        text-decoration: underline;
        margin-left:400px;

    }

    .box-one img {
        margin-left: 100px;
        height: 200px;
        width:600
    }

    .box-one ul li p {
        margin-top: -197px;
        margin-left: 103px;
    }

    .box-two img {
        margin-left: 100px;
    }

    .box-two ul li p {
        margin-left: 103px;
    }

    .contact-me h1 {
        margin-left: 350px;
        text-decoration: underline;
    }

    .contact-me p {
        margin-left: 200px;
    }

.contact-me ul {
    margin-left: 150px;
}

    .contact-me ul li {
        margin-left: 10px;
        text-align: center;
       
    }

    .contact-me ul li a {
        margin-left: 10px;
    }
}

@media screen and (max-width:768px) {

    header h1 {
      margin-left: 175px;
    }


    header nav {
      margin-top: 20px;
      justify-content: space-evenly;

    }

    header nav ul {
        width: 100%;
        flex-direction:row ;
        flex-wrap: nowrap;
    }
    header nav ul li a {
        margin-left: 60px; 
        font-size: 20px;
    }

    .section-header {
        text-decoration:underline;
        margin-left:75px;
        border-right: none;
        padding-left: 0;
    }

    .about-me h1 {
        margin-left:200px;
    }

    .about-me p {
        
        text-align: center;
        font-size: 24px;
        margin-right: 35px;
    }

    .about-me img {
        margin-left:300px;
    }

    .work h1 {
        margin-left: 250px;
        margin-bottom:15px;
    }

    .box-one img {
        height:150px;
        width:400px;
        margin-left: 200px;
    }

    .box-one ul li p {
        font-size: 20px;
        margin-left: 210px;
        margin-top: -147px;
    }

    .box-two img {
        height: 150px;
        width: 250px;
        margin-left: 275px;
    }

    .box-two ul li p {
        font-size: 20px;
        margin-left: 276px;
        margin-top: -176px;
    }
    
    .Applications {
        justify-content: space-between;
    }

    .contact-me h1 {
        margin-left: 180px;
    }

    .contact-me p {
        margin-left: 35px;
    }

    .contact-me ul {
        margin-left: 10px;
    }

    .contact-me ul li {
        margin-left: 10px;
        margin-bottom: 20px;
    }

    

}

@media screen and (max-width: 575px) {

header h1 {
    font-size: 30px;
}

header nav ul li a {
    margin-left: 25px;
    font-size: 20px;
}

.about-me h1{
    font-size: 30px;
    margin-left: 150px;
}

.about-me p {
    font-size: 20px;
    margin-left: 50px;
    margin-top:10px;
}

.about-me img {
    margin-left: 200px;
}

.work h1 {
    font-size: 30px;
    margin-left: 175px;
}

.box-one img {
    height: 100px;
    width: 300px;
    margin-left: 125px;
}

.box-one ul li p {
    font-size: 18px;
    margin-left: 133px;
    margin-top: -97px;
}

.box-two img {
    height: 100px;
    width:200px;
    margin-left: 175px;
}

.box-two ul li p {
    font-size: 18px;
    margin-left: 177px;
    margin-top: -127px;
}

.contact-me h1 {
    font-size: 30px;
    margin-left: 125px;
}

.contact-me p {
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.contact-me ul li, .contact-me ul li a {
    font-size: 15px;
    margin-left: 5px;
    margin-right: 20px;
}
}